body {

}

.calendar {
  margin: auto;
  max-width: 800px font-family:serif;
  font-weight: bold;
  color: black;
  margin: 10% 10%;
}

.month {
  text-align: center;
  background: white;
  font-size: 80px;
  letter-spacing: 1px;
  color: black;
  border: 3px solid orange;
}

table, th, td {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  font-size: 27px;
  border-collapse: collapse;
  border: 5px solid black;
  font-family: fantasy;
}

tr, th, td {
  padding: 15px;
}

th {
  background: #FFA500;
  color: white;
  font-family: arial black;
}
td{
  background: #B7CEEC;
  color: blue;
  }
  .container {
    position: relative;
    width: 50%;
  }

  .container img {
    width: 100%;
    height: auto;
  }

  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:  #85c341;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .container .btn:hover {
    background-color: #85c341;
  }
