body {

}
.topnav {
  overflow: hidden;
  background-color: #4eaee2;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom:  3px solid red;
}

.topnav a.active {
  border-bottom: 3px solid red;
}

.Providers{
  background-color: #85c341;
  font-family: serif;
  color: black;
}

.calendar {
  margin: auto;
  max-width: 800px font-family:serif;
  font-weight: bold;
  color: black;
  margin: 10% 10%;
}

.month {
  text-align: center;
  background: white;
  font-size: 80px;
  letter-spacing: 1px;
  color: black;
  border: 3px solid orange;
}

table, th, td {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  font-size: 27px;
  border-collapse: collapse;
  border: 5px solid black;
  font-family: serif;
}

tr, th, td {
  padding: 15px;
}

th {
  background: #FFA500;
  color: white;
  font-family: arial black;
}
  td{
    background: #B7CEEC;
    color: blue;
  }


  .frontphoto {
    position: relative;
    width: 50%;
    filter: blur(200%);
  }

  .frontphoto img {
    width: 100%;
    height: auto;
  }

  .frontphoto .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:  #85c341;
    color: #450091;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

  }

  .frontphoto .btn:hover {
    background-color: #4eaee2;
    color: #ffffff;
  }
